.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**MyStuff**/

* {
  box-sizing: border-box;
}

.App{
  height: 100vh;
  width: 100vw;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Particles{
  /* background-image: linear-gradient( 109.8deg,  rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% ); */
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  background-size: cover;
  width : 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.MainApp{
  position: absolute;
  display: flex;
  flex-flow: column;
  position: absolute;
  background-color: white;
  width : 50vw;
  height : 90vh;
  min-width: 400px;
  min-height: 400px;
  margin : auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.TopBar{
  background-color: #548edd ;
  text-align: left;
  border-top: #548edd  solid 3px;
  border-left: #548edd  solid 2px;
  border-right: #548edd  solid 2px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.LeftItems{
  float: left;
  display: flex;
}

.MailIcon{
  height: 15px;
  width: 25px;
  margin: 4px 5px auto 5px;
}

.BoxTitle{
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin: auto 0px;
}

.WindowIcons{
  float: right;
}

.WindowIcon{
  height: 20px;
  width: 20px;
  margin: auto 4px 5px 4px;
}

.InputBoxes{
  height: 100%;
  padding: 0% 5%;
  padding-top: 10px;
  border-left: solid #548edd 10px;
  border-right: solid #548edd 10px;
  /* border-left: solid #741b47  10px;
  border-right: solid #741b47  10px; */
  display: flex;
  flex-direction: column;
}

.InputBox, .InputBox:hover, .InputBox:focus, .InputBox:active{
  outline:none;
  border:none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid black;
  padding: 6px 12px;
  font-weight: 500;
  color: black;
}

.MyTextBox{
  position: relative;
  border: 1px solid grey;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-left: 20px;
  min-height: 390px;
  min-width: 670px;
}

.MyTextBox > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.InteractImage {
  position: relative;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  margin: 2px;
  padding: 0;
  float: right;
}

#highlighter, #highlighter:focus, #highlighter:hover{
  background-color: transparent;
  color:black;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  border: none;
  padding: 2px;
  outline: none;
  /* overflow: scroll; */
  min-height: 390px;
  min-width: 670px;
}

/* #maindiv{
  color: black;
  font-size: 16px;
  padding: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  outline: none;
  border: none;
  text-align: left;
  background-color: transparent;
  overflow: scroll;
} */

textarea, textarea:hover, textarea:focus{
  color: black;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  outline: none;
  border: none;
  text-align: left;
  background-color: transparent;
  resize: none;
  min-height: 390px;
  min-width: 670px;
}

.highlight{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.highlight1{
  background-color: rgb(255,165,0);
  /* border-bottom: 3px solid rgb(255,165,0); */
}

.highlight2{
  background-color: rgb(255,150,150);
  /* border-bottom: 3px solid rgb(255,100,100); */
}

/* #newDiv, #newDiv:focus, #newDiv:hover{
  background-color: transparent;
  color:black;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  border: none;
  padding: 2px;
  outline: none;
  overflow: auto;
} */

/* .highlight .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255,100,100);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: small;
  position: absolute;
  z-index: 1;
}

.highlight:hover .tooltiptext {
  visibility: visible;
}

.highlight .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(255,100,100) transparent transparent;
} */

.highlight1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255,165,0);
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  border: 1px solid black;
  padding: 5px;
  font-size: small;
  position: absolute;
  z-index: 1;
}

.highlight1:hover .tooltiptext {
  visibility: visible;
}

.highlight1 .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.highlight2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255,150,150);
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  border: 1px solid black;
  padding: 5px;
  font-size: small;
  position: absolute;
  z-index: 1;
}

.highlight2:hover .tooltiptext {
  visibility: visible;
}

.highlight2 .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.BottomRow{
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  padding: 0% 5%;
  border-left: solid #548edd  10px;
  border-right: solid #548edd  10px;
  border-bottom: solid #548edd  10px;
  border-radius: 0px 0px 10px 10px;
  max-height: 76px;
}

.roundit{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #548edd;
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 20px;
  padding: auto auto;
  width: 80px;
  min-width: 80px;
  height: 40px;
  margin : 5px 10px 10px 20px;
}

.AttachmentIcon{
  height: 38px;
  width: 38px;
  margin: 10px 10px 10px 10px;
}

.AttachmentsSection{
  padding-left: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.AttachmentCard{
  display: inline-flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(218, 217, 220);
  margin: auto 5px;
}

.AttachmentCardIssue{
  display: inline-flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(255,120,120);
  margin: auto 5px;
}

.extraDiv{
  position: relative;
}

.AttachmentCardIssue .tooltiptext {
  background-color: rgb(255,150,150);
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 12PX;
  text-align: center;
  visibility: hidden;
  width: 150px;
  padding: 3px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -15px;
}

.AttachmentCardIssue:hover .tooltiptext {
  visibility: visible;
}

.AttachmentCardIssue .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.DocxIcon{
  float: left;
  height: 35px;
  width : 35px;
  padding: 5px;
}

.AttachmentName{
  float: left;
  color: rgb(0, 114, 198);
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  vertical-align: middle;
}

.DelIcon{
  float: right;
  right: 0;
  height: 25px;
  width : 25px;
  padding: 5px;
}

.DelIcon:hover{
  cursor: pointer;
}

/* SCROLL BARS */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px white;  */
  background-color: rgb(218, 217, 220);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 114, 198);
  border-radius: 15px;
}