.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**MyStuff**/

* {
  box-sizing: border-box;
}

.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Particles{
  position: absolute;
  background-image: linear-gradient( 109.8deg,  rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% );
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.MainApp{
  position: absolute;
  display: flex;
  flex-flow: column;
  position: absolute;
  background-color: white;
  width : 50vw;
  height : 80vh;
  min-width: 515px;
  min-height: 540px;
  margin : auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.TopBar{
  background-color: rgb(0, 114, 198);
  text-align: left;
  border-top: rgb(0, 114, 198) solid 3px;
  border-left: rgb(0, 114, 198) solid 2px;
  border-right: rgb(0, 114, 198) solid 2px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.LeftItems{
  float: left;
  display: flex;
}

.MailIcon{
  height: 15px;
  width: 25px;
  margin: 4px 5px auto 5px;
}

.BoxTitle{
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin: auto 0px;
}

.WindowIcons{
  float: right;
}

.WindowIcon{
  height: 20px;
  width: 20px;
  margin: auto 4px 5px 4px;
}

.InputBoxes{
  height: 100%;
  padding: 0% 5%;
  padding-top: 10px;
  border-left: solid rgb(0, 114, 198) 10px;
  border-right: solid rgb(0, 114, 198) 10px;
  display: flex;
  flex-direction: column;
}

.InputBox, .InputBox:hover, .InputBox:focus, .InputBox:active{
  outline:none;
  border:none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid black;
}

.MyTextBox{
  position: relative;
  border: 1px solid grey;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-left: 20px;
}

.MyTextBox > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.InteractImage {
  position: relative;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  margin: 2px;
  padding: 0;
  float: right;
}

#highlighter, #highlighter:focus, #highlighter:hover{
  background-color: white;
  color:black;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  border: none;
  padding: 2px;
  outline: none;
}

textarea, textarea:hover, textarea:focus{
  color: black;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
  border: none;
  text-align: left;
  background-color: transparent;
  resize: none;
}

.highlight{
  background-color: cyan;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.highlight:hover{
  background-color: red;
  color: black;
}

.newDiv, .newDiv:focus, .newDiv:hover{
  background-color: transparent;
  color:transparent;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  border: none;
  padding: 2px;
  outline: none;
}

.highlight .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkgrey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: small;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.highlight:hover .tooltiptext {
  visibility: visible;
}

.BottomRow{
  display: flex;
  flex-direction: row;
  padding: 0% 5%;
  border-left: solid rgb(0, 114, 198) 10px;
  border-right: solid rgb(0, 114, 198) 10px;
  border-bottom: solid rgb(0, 114, 198) 10px;
  border-radius: 0px 0px 10px 10px;
}

.roundit{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 114, 198);
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 20px;
  padding: auto auto;
  width: 80px;
  height: 40px;
  margin : 5px 10px 10px 20px;
}

.AttachmentIcon{
  height: 40px;
  width: 40px;
  margin: 5px 10px;
}